<!-- Jumbotron -->
<div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">Add a Story</h1>
    <p class="mb-3">Here you can add a new chapter</p>
</div>
<!-- Jumbotron -->

<div class="container">   
    <form action=`/add/${store._id || ''}` >

    </form>
</div>