<!-- Jumbotron -->
<div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">Title for Story 1</h1>
    <p class="mb-3">Summary of this story.</p>
</div>
<!-- Jumbotron -->

<div class="d-flex justify-content-center">
    <ul>
        <li>
            <a href="/story1/chapter1">Chapter 1</a>
        </li>
        <li>
            <a href="/story1/chapter2">Chapter 2</a>
        </li>
        <li>
            <a href="/story1/chapter3">Chapter 3</a>
        </li>
    </ul>
</div>